<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
    <p id="heading">©Anusha.All rights reserved.</p>
    <ul class="horizontal-list ">
        
        
            <li>
                <a href="/">Home</a>
            </li>
            

    </ul>
    
</footer>