.footer {
  display: flex;
  justify-content: space-between;
  /* Distribute space between left and right items */
  align-items: center;
  /* Vertically center items */
  height: 50px;
  /* Height of the footer */
  width: 100%;
  /* Full width of the viewport */
  background-color: #8b0042;
  /* Background color */
  padding: 0 10px;
  /* Padding on left and right */
}

.footer #heading {
  font-size: large;
  color: white;
  margin: 0;
  /* Remove default margin */
}

.footer .horizontal-list {
  list-style-type: none;
  /* Remove default list styling */
  padding: 0;
  /* Remove default padding */
  margin: 0;
  /* Remove default margin */
  display: flex;
  /* Display items in a row */
  gap: 10px;
  /* Space between list items */
}

.footer .horizontal-list a {
  text-decoration: none;
  font-size: large;
  color: white;
}
